body {
    background-color: rgb(16, 235, 216);
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: rgb(0, 0, 0);
    color: rgb(201, 111, 163);
    font-family: Arial;
    margin: 0px;
}

footer {
    background-color: black; 
    color: lightgreen; 
    padding: 20px; 
    font-size: italic; 
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

main {
    background-color: rgb(16, 235, 216);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    margin: 0 0 45px;
}

a {
    color: aqua;
    text-decoration: none;
    transition: 2s 2s;
}

a:link {
    color: #0077cc; 
    text-decoration: none; 
    font-weight: bold; 
    transition: color 0.3s ease-in-out; 
}

a:visited {
    color: #861b86; 
    text-decoration: none; 
    font-style: italic; 
    opacity: 0.8; 
}

a:hover {
    color: #ff6600; 
    background: #ffe6cc; 
    text-decoration: none; 
    box-shadow: 2px 2px 5px rgba(255, 102, 0, 0.5); 
    border-radius: 5px; 
    padding: 3px 5px; 
    transition: 0.3s; 
}

a:active {
    color: black;
    opacity: 0.3;
}

div.menu {
    border: 5px solid #2c3e50; 
    border-radius: 10px; 
    width: 320px; 
    margin: auto;
    background: linear-gradient(to bottom, #ecf0f1, #bdc3c7); 
    padding: 10px; 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); 
}

div.menu:hover {
    background: linear-gradient(to bottom, #d5dbdb, #95a5a6); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
    border-color: #34495e; 
}
